@import "./mixins";
.recent-threads {
	position: relative;
	background-color: #fff !important;
	margin-bottom: 15px;
	border: 1px solid #dddddd;
	padding-bottom: 0px !important;
	max-height: 435px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px;

	h2 {
		margin: 0;
		background-color: #D9534F;
		color: #fff;
		line-height: 40px;
		height: 40px;
		padding: 0 0 0 18px;
		font-size: 14px;
		text-transform: uppercase;
		.border-radius(6px);
	}

	.recent-topic {
		position: relative;
		margin-bottom: 17px;
		border-bottom: 1px solid #ddd;
		margin-top: 10px;
		padding-left: 24px;
		padding-bottom: 12px;
		height: 55px;
		&:last-child {
			margin-bottom: 0px;
		}
	}

	.topic-count {
		color: #000;
		position: absolute;
		right: 10px;
		top: -11px;
		text-align: center;
		width: 84%;
		h4 {
			color: grey;
		}
		small {
			text-transform: uppercase;
			color: #777;
			font-weight: 300;
			font-size: 12px;
			display: block;
		}
	}

	.topic-recent-info {
		color: #000;
		position: absolute;
		right: 10px;
		top: -11px;
		text-align: center;
		width: 63%;
		h4 {
			color: grey;

		}
		small {
			text-transform: uppercase;
			color: #777;
			font-weight: 300;
			font-size: 12px;
			display: block;
		}
	}

	.topic-recent-main {
		width: 42%;
		position: relative;
		.topic-category{
			position: absolute;
			right: -31px;
			top: 3px;
			.icon {
				font-size: 16px;
				line-height: 17px;
				padding: 10px 7px 9px 13px;
				border-radius: 50%;
				margin-right: 15px;
				height: 40px;
				width: 40px;
			}
		}
		.topic-category-name {
			position: absolute;
			right: -94px;
			top: 10px;
			width: 13%;
			a {
				color: #4f4f4f;
				text-decoration: none;
				right: -50px;
			}
		}
	}

	.topic-recent-message {
		position: absolute;
		width: 26%;
		right: 10px;
		top: 1px;
		z-index: 10;
		border-left: 4px solid #2e939f;
		padding-left: 6px;
		height: 39px;
		.last-message {
			color: #a7a7a7;
			p {
				width: 67%;
				overflow:hidden;
				text-overflow:ellipsis;
				white-space: nowrap;
			}

		}
		.timeago {
			color: grey;
			font-size: 10px;
			right: -5px;
			position: relative;
			top: -4px;
			background: white;
		}
		a.permalink {
			position: absolute;
			right: 1px;
			top: -2px;
		}

		p {
			color: #888888;
			font-size: 11px;
			margin: 0;
		}

		blockquote {
			display: none; // disabling quote message, because it cause a major problem on the css.
			padding: 2px 7px;
			margin: 0;
			font-size: 16px;
			border-left: 5px solid #eee;
		}
	}



	.recent-left {
		width: 40%;
		float: left;
	}
	.recent-right {
		width: 40%;
		float: right;
	}
	span.replies-icon-size {
		font-size: 14px;
	}

}

@media screen and (max-width: 990px) {
	.topic-recent-info {
		display: none !important;
	}
	.topic-count {
		right: -60px !important;
	}
	.topic-category-name {
		right: -63px !important;
	}
}
@media screen and (max-width: 630px) {
	.topic-count {
		display: none !important;
	}
}