.recent-threads {
  position: relative;
  background-color: #fff !important;
  margin-bottom: 1px;
  border: 1px solid #dddddd;
  padding-bottom: 0px !important;
  max-height: 435px;
}
.recent-threads h2 {
  margin: 0;
  background-color: #D9534F;
  color: #fff;
  line-height: 40px;
  height: 40px;
  padding: 0 0 0 18px;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.recent-threads .recent-topic {
  position: relative;
  margin-bottom: 17px;
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
  padding-left: 24px;
  padding-bottom: 12px;
}
.recent-threads .topic-count {
  color: #000;
  position: absolute;
  right: 10px;
  top: -11px;
  text-align: center;
  width: 79%;
}
.recent-threads .topic-count h4 {
  color: grey;
}
.recent-threads .topic-count small {
  text-transform: uppercase;
  color: #777;
  font-weight: 300;
  font-size: 12px;
  display: block;
}
.recent-threads .topic-recent-info {
  color: #000;
  position: absolute;
  right: 10px;
  top: -11px;
  text-align: center;
  width: 63%;
}
.recent-threads .topic-recent-info h4 {
  color: grey;
}
.recent-threads .topic-recent-info small {
  text-transform: uppercase;
  color: #777;
  font-weight: 300;
  font-size: 12px;
  display: block;
}
.recent-threads .topic-recent-message {
  position: absolute;
  width: 26%;
  right: 10px;
  top: 1px;
  z-index: 10;
  border-left: 4px solid #2e939f;
  padding-left: 14px;
  height: 39px;
}
.recent-threads .topic-recent-message .last-message {
  color: #a7a7a7;
}
.recent-threads .topic-recent-message .last-message p {
  width: 74%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.recent-threads .topic-recent-message .timeago {
  color: grey;
  font-size: 10px;
  right: -5px;
  position: relative;
  top: -4px;
  background: white;
}
.recent-threads .topic-recent-message a.permalink {
  position: absolute;
  right: 1px;
  top: -2px;
}
.recent-threads .topic-recent-message p {
  color: #888888;
  font-size: 11px;
  margin: 0;
}
.recent-threads .topic-recent-message blockquote {
  display: none;
  padding: 2px 7px;
  margin: 0;
  font-size: 16px;
  border-left: 5px solid #eee;
}
.recent-threads .recent-left {
  width: 40%;
  float: left;
}
.recent-threads .recent-right {
  width: 40%;
  float: right;
}
.recent-threads span.replies-icon-size {
  font-size: 14px;
}
